-# A Shop as it appears in search results     
-content_tag_for :tr, shop, :class=>"#{shop.state}" do
  %td=link_to "#{index + 1}", new_shop_order_path(shop)
  %td
    .search-result
      =link_to shop.name, shop_new_order_path(shop)
    != render :partial => 'tooltip', :object=>shop

  %td
    -if shop.accepts_queued_orders?
      != render :partial => 'shops/accepts_queued_orders'
  %td
    -if shop.accepts_paypal_payments?
      != render :partial => 'shops/accepts_paypal_tiny'