-if current_user
  -content_for :aside do
    != render :partial => 'front/shops_table'
    != render :partial => 'front/friends_table'



.search-results.span-14.last
  %h3.title Locate a Restaurant near you...
  .span-14.last
    %h6="#{pluralize @shops.total_entries, 'restaurant'} found:"

  .span-7
    =will_paginate @shops
    %table.search
      -@shops.each_with_index do |shop, index|
        = render :partial=>"shop", :object=>shop, :locals=>{:index=>index}
    != render :partial => 'add_shop_blurb'

  .span-7.last
  -if @shops
    =static_map :places=>@shops, :center=>@search, :width=>260, :height=>260

= render :partial => 'shops/search_panel'
