-if iphone_user_agent?
  .iphone-message
    %p
      Using an iPhone?
      =link_to 'Use the optimised version', 'http://iphone.localhost.local:3000/'

-if current_user
  -content_for :aside do
    != render :partial => 'shops_table'
    != render :partial => 'friends_table'
  -content_for :content_top do  
    != render :partial => 'current_orders'
-else
  -content_for :aside do
    != render :partial => 'side_blurbs'
%h3.locate_title Find a Restaurant near you...
!= render :partial => 'shops/search_panel'
.twitter-follow
  %a{ :href => "http://www.twitter.com/Cafebop", :class=>'button'}
    %img{ :src => "http://twitter-badges.s3.amazonaws.com/follow_us-b.png", :alt => "Follow Cafebop on Twitter" }

