-if mobile_device?
  .mobile-message
    %p
      Using a mobile device?
      Try the #{link_to 'mobile site', root_url(:mobile=>1)}.

-if current_user
  -content_for :aside do
    != render :partial => 'shops_table'
    != render :partial => 'friends_table'
  -content_for :content_top do
    != render :partial => 'current_orders'
-else
  .about
    Cafebop is the affordable way to put your takeaway Restaurant or Cafe online.
    Customers order from the menu you provide and you receive the order on an
    iPhone&reg;, iPod Touch&reg;, iPad&reg; or computer located in your store.

  -content_for :aside do
    .create-shop
      =link_to "Create your Shop", pricing_path
    \* our starter plan is free
    / != render :partial => 'side_blurbs'

/ != render :partial => 'shops/search_panel'

-content_for :content_foot do
  -unless current_user
    != render :partial => 'content/benefits'
    .twitter-follow
      %a{ :href => "http://www.twitter.com/Cafebop", :class=>'button'}
        %img{ :src => "http://twitter-badges.s3.amazonaws.com/follow_us-b.png", :alt => "Follow Cafebop on Twitter" }
  