- title "Cuisines"

%table
  %tr
    %th Name
  - for cuisine in @cuisines
    %tr
      %td= h cuisine.name
      %td= link_to 'Show', cuisine
      %td= link_to 'Edit', edit_cuisine_path(cuisine)
      %td= link_to 'Destroy', cuisine, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Cuisine", new_cuisine_path
