=will_paginate @orders
%table.orders           
  %thead
    %tr
      %th ID
      %th Customer
      %th Status
      %th
        Payment
        %br
        Method
      %th Amount
  - @orders.each do |order|
    %tr.order
      %td=link_to "#{order.id}", past_order_path(order)
      %td #{order.name}
      %td #{order.state}
      %td #{order.payment_method}
      %td #{number_to_currency order.grand_total}
        