:plain
  #{@parent.user} is going to #{@parent.shop} in about #{@parent.minutes_til_close} minutes and can bring you something back.

  If you'd like to take up the offer, go here:

  #{@accept_url} - Show me the menu

  if not, go here:

  #{@decline_url} - Not this time thanks

  This message was sent on behalf of #{@parent.user} by the Cafebop social food ordering system at http://#{APPLICATION_DOMAIN}
  
  If you don't know who #{@parent.user} is, you can safely ignore this message.
