:plain
  #{h @parent.user} is going to #{h @parent.shop} and can bring you something back.

  If you'd like to take up the offer, go here:

  #{@accept_url} - Show me the menu

  if not, go here:

  #{@decline_url} - Not this time thanks

  This message was sent on behalf of #{h @parent.user} by the Cafebop social
  food ordering system at http://#{APPLICATION_DOMAIN}
