- semantic_form_for @user do |f|
  = f.error_messages :header_message=>nil, :message=>nil
  - f.inputs do
    = f.input :email
    = f.input :password, :as=>:password
    = f.input :password_confirmation, :as=>:password
  
    Are you human? Yes, it is an odd thing to ask but you'd be surprised by how many
    robots we get around here. To prove you're human, please complete this simple task:
    = recaptcha_tags
  
  - f.buttons do
    =f.commit_button :button_html=>{:value=>'Sign up'}