- form_for @payment_notification do |f|
  = f.error_messages
  %p
    = f.label :params
    %br
    = f.text_area :params
  %p
    = f.label :status
    %br
    = f.text_field :status
  %p
    = f.label :transaction_id
    %br
    = f.text_field :transaction_id
  %p
    = f.label :order_id
    %br
    = f.text_field :order_id
  %p
    = f.submit "Submit"
