-order = ordering_form

%ul.menu
  -if @shop.effective_menus.empty?
    != render :partial => 'ask_user_for_cuisine'
  -else
    %p
      != render :partial => 'shared/menu_legend'
  
    -@shop.effective_menus.each do |menu|
      %a{:name=>menu.id}
      %h5.title=h menu.name
      %hr
      -menu.menu_items.each do |menu_item|
        -if menu_item.present_flavours
          -menu_item.flavours.each do |flavour|
            =render :partial=>'ordering_card', :locals=>{:card_for=>flavour, :item=>menu_item}
        -else
          =render :partial=>'ordering_card', :locals=>{:card_for=>menu_item, :item=>menu_item}
    
    
-unless @shop.effective_menus.empty?

  -content_for :aside do        
    %h5.title Your Order

    -semantic_form_for order do |form|
      %table.order.order-form
        %thead
          %tr
            %th Qty
            %th Description
            %th Cost($)
            %th

        %tfoot
          %tr
            %td(colspan="2") Total
            %td#total #{number_to_currency(@order.total)}
            %td

        %tbody#order_items
          -@order.order_items.each do |order_item|
            -fields_for "order[order_items_attributes][]", order_item, :index=>nil do |item_form|
              -if item_form.object
                %tr
                  %td
                    =h item_form.object.quantity
                    = item_form.hidden_field :id, :index=>nil
                    = item_form.hidden_field :quantity
                    = item_form.hidden_field :menu_item_id
                    = item_form.hidden_field :flavour_id
                    = item_form.hidden_field :size_id
                  %td
                    =h item_form.object.description
                  %td.cost
                    =h number_to_currency(item_form.object.cost, :unit=>'')
                  %td.remove
                    =image_tag '/images/remove.gif', :alt=>'remove'
                -if item_form.object.notes
                  %tr.notes
                    %td.notes(colspan="3")
                      =h item_form.object.notes
              -else
                %tr
                  %td
      -form.inputs do
        =form.input :effective_name, :label=>'Name', :hint=>"Name that will appear on order", :required=>true, :input_html=>{:class=>'required'}
        =form.input :phone, :hint=>"Your phone number", :required=>true, :input_html=>{:class=>'required'}
        =form.input :deliver
        =form.input :address, :hint=>"Delivery address"
      
          
      != render :partial => 'close_time_counter'
      =submit_tag((@order.is_child? ? "Confirm" : "Continue"), :disabled=>@order.order_items.empty?, :id=>'continue-order-button', :class=>'button')
        

  .hidden
    #dialog{ :title => "Add to Order" }
      %form
        #quantity_details
          %label{ :for => "quantity" } Quantity      
          %input#quantity_field.text.ui-widget-content.ui-corner-all{ :name => "quantity", :type => "text", :size=>"2", :maxlength=>"2"}
        #flavour_details
          %label{ :for => "flavour" } Flavour
          %select#flavour_field.select.ui-widget-content.ui-corner-all{ :name => "flavour" }
        #size_details
          %label{ :for => "size" } Size
          %select#size_field.select.ui-widget-content.ui-corner-all{ :name => "size" }
        %label{ :for => "notes" } Notes
        %input#notes_field.text.ui-widget-content.ui-corner-all{ :name => "notes", :type => "text", :value => "" }
        %input#details_field{ :name => "details", :type => "hidden", :value => "" }
      
