-# Make one tbody for each order to make it easier to remove an order with jquery
%tbody
  %tr{:class=>"order #{order.state}"}
    %td="Order for #{h order.name}"
    %td
      -form_tag deliver_queued_order_path(order), :method=>:put, :class=>"#{order.state}-order" do
        =submit_tag "Deliver", :disabled=>!order.made?
    
    -if order.paid?
      %td=h "#{number_to_currency(order.grand_total)} (paid)"
    -else
      %td=h number_to_currency(order.grand_total)
  
  -order.order_items.each do |order_item|
    -case order_item.state
      -when 'queued'
        %tr.queued{:id=>"order-item-#{order_item.id}"}
          %td=h order_item.quantity
          %td
            -form_tag make_order_item_path(order_item), :method=>:put, :class=>'order-item' do
              =h order_item.description
              =submit_tag "Make"
          %td=h order_item.notes
      -when 'made'
        %tr.made{:id=>"order-item-#{order_item.id}"}
          %td=h order_item.quantity
          %td=h "#{order_item.description} (made)"
          %td=h order_item.notes
  
