-order = ordering_form

%ul
  -if @shop.menus.empty?
    This shop hasn't published any menus yet. But you can still order.
  -else
    -@shop.menus.each do |menu|
      %h4=h menu.name
      %hr
      -menu.menu_items.each do |menu_item|
        -if menu_item.present_flavours
          -menu_item.flavours.each do |flavour|
            =render :partial=>'ordering_card', :locals=>{:card_for=>flavour, :item=>menu_item}
        -else
          =render :partial=>'ordering_card', :locals=>{:card_for=>menu_item, :item=>menu_item}
  -if @shop.generic_orders
    \[Generic Order Item Form will go Here]
    
    

-content_for :aside do        
  %h3 Your Order
  -semantic_form_for order do |form|
    %table
      %thead
        %tr
          %th Qty
          %th Description
          %th Notes
          %th Cost($)
          %th

      %tbody#order_items        
        -form.semantic_fields_for :order_items, :name => "Items" do |item_form|
          -debugger
          -if item_form.object
            %tr
              %td
                =h item_form.object.quantity
                = item_form.input :quantity, :as => :hidden
                = item_form.input :price_in_cents, :as => :hidden
                = item_form.input :description, :as => :hidden
                = item_form.input :menu_item_id, :as => :hidden
                = item_form.input :flavour_id, :as => :hidden
                = item_form.input :size_id, :as => :hidden
              %td
                =h item_form.object.description              %td.notes
                =h form.object.notes
              %td.cost
                =h item_form.object.cost
              %td.remove
          -else
            %tr
              %td
          
      %tfoot
        %tr
          %td(colspan="3") Total
          -#FIXME calculate the total in edit view
          %td#total 0.00
    - form.buttons do
      = form.commit_button #'Save changes'
  

.hidden
  #dialog{ :title => "Add to Order" }
    %form
      %label{ :for => "quantity" } Quantity
      %input#quantity_field.text.ui-widget-content.ui-corner-all{ :name => "quantity", :type => "text", :size=>"3", :maxlength=>"3"}
      #flavour_details
        %label{ :for => "flavour" } Flavour
        %select#flavour_field.select.ui-widget-content.ui-corner-all{ :name => "flavour" }
      #size_details
        %label{ :for => "size" } Size
        %select#size_field.select.ui-widget-content.ui-corner-all{ :name => "size" }
      %label{ :for => "notes" } Notes
      %input#notes_field.text.ui-widget-content.ui-corner-all{ :name => "notes", :type => "text", :value => "" }
      %input#details_field{ :name => "details", :type => "hidden", :value => "" }
      
