-order = ordering_form

%ul
  -if @shop.effective_menus.empty?
    != render :partial => 'shops/adjust_cuisines_form'
  -else
    -@shop.effective_menus.each do |menu|
      %h5=h menu.name
      %hr
      -menu.menu_items.each do |menu_item|
        -if menu_item.present_flavours
          -menu_item.flavours.each do |flavour|
            =render :partial=>'ordering_card', :locals=>{:card_for=>flavour, :item=>menu_item}
        -else
          =render :partial=>'ordering_card', :locals=>{:card_for=>menu_item, :item=>menu_item}
    
    

-content_for :aside do        
  %h5 Your Order

  -form_for order do |form|
    %table.order.order-form
      %thead
        %tr
          %th Qty
          %th Description
          %th Notes
          %th Cost($)
          %th

      %tfoot
        %tr
          %td(colspan="3") Total
          -#FIXME calculate the total in edit view
          %td#total 0.00

      %tbody#order_items
        -@order.order_items.each do |order_item|
          -fields_for "order[order_items_attributes][]", order_item, :index=>nil do |item_form|
            -if item_form.object
              %tr
                %td
                  =h item_form.object.quantity
                  = item_form.hidden_field :id, :index=>nil
                  = item_form.hidden_field :quantity
                  = item_form.hidden_field :menu_item_id
                  = item_form.hidden_field :flavour_id
                  = item_form.hidden_field :size_id
                %td
                  =h item_form.object.description
                %td.notes
                  =h item_form.object.notes
                %td.cost
                  =h number_to_currency(item_form.object.cost, :unit=>'')
                %td.remove
                  =image_tag '/images/remove.gif', :alt=>'remove'
            -else
              %tr
                %td
          
    != render :partial => 'price_warning'
    != render :partial => 'close_time_counter'
    =submit_tag((@order.is_child? ? "Confirm" : "Continue"), :disabled=>@order.order_items.empty?, :id=>'continue-order-button')
        

.hidden
  #dialog{ :title => "Add to Order" }
    %form
      %label{ :for => "quantity" } Quantity
      %input#quantity_field.text.ui-widget-content.ui-corner-all{ :name => "quantity", :type => "text", :size=>"3", :maxlength=>"3"}
      #flavour_details
        %label{ :for => "flavour" } Flavour
        %select#flavour_field.select.ui-widget-content.ui-corner-all{ :name => "flavour" }
      #size_details
        %label{ :for => "size" } Size
        %select#size_field.select.ui-widget-content.ui-corner-all{ :name => "size" }
      %label{ :for => "notes" } Notes
      %input#notes_field.text.ui-widget-content.ui-corner-all{ :name => "notes", :type => "text", :value => "" }
      %input#details_field{ :name => "details", :type => "hidden", :value => "" }
      
