%table.order-summary#order-summary-table
  %thead
    %tr
      -if @order.is_parent?
        %th
      %th Qty
      %th Description
      %th Cost($)
      -if @order.printed?
        %th.print-only Made
      -elsif !@order.group.pending?
        %th Status
      %th

  %tbody#order_items
    != render :partial => 'summary_rows', :object=>@order, :locals=>{:show_user=>@order.is_parent?}
    -if @order.is_parent?
      != render :partial => 'summary_rows', :collection=>@order.child_orders.state_eq_any('confirmed', 'made').all(:include=>:order_items), :locals=>{:show_user=>true}, :spacer_template=>'empty_row'
    
  %tfoot
    %tr.total
      %td
      -if @order.is_parent?
        %td
      %td Total
      %td="#{h number_to_currency(@order.grand_total)}"
      %td
      %td 

#order-status.no-print
  -case @order.state
    -when 'queued'
      -if @order.paid_at
        Payment accepted.
      Your order has been sent to #{h @order.shop}.
      Keep this screen open to watch its progress.
    -when 'made'
      -if @order.is_child?
        Sit tight. #{@order.parent.user} should be back soon.
      -else
        Your order is ready. Head down to #{@order.shop} to collect it.
    -when 'confirmed'
      #{@order.parent.user} will pickup your order for you.
    -when 'pending_paypal_auth'
      Waiting for payment confirmation from PayPal

= render :partial => 'shop_blurb'
