%table
  %thead
    %tr
      %th Qty
      %th Description
      %th Notes
      %th Cost($)
      %th Status

  %tbody#order_items
    != render :partial => 'summary_rows', :object=>@order
    != render :partial => 'summary_rows', :collection=>@order.child_orders, :spacer_template=>'empty_row'
    
  %tfoot
    %tr
      %td(colspan="3") Total
      %td=h number_to_currency(@order.grand_total)
                                      
-unless @order.state == "printed"
  =h "Order status: #{@order.state}"    
%hr      
="Last updated: #{Time.now}" 
= render :partial => 'shop_blurb'
