%h3 Invite Friends

-if !current_user and @email # not logged in but specified email of valid user
  -semantic_form_for @order do |f|
    != render :partial => 'user_sessions/login_form_fields'
-else
  %p
    See if you're friends or colleagues want anything while you're there. The email they receive will read:

  -form_for @order do |f|
    -fields_for UserSession.new do |uf|
      .email-message
        =current_user ? h(current_user) : "#{uf.text_field(:email, :value=>'your email')}"
        \ is going to #{h @order.shop} |
        in about #{f.select :minutes_til_close, [5, 10, 15, 20, 25, 30, 45, 60]} minutes and can bring you something back.
    -if current_user
      %table
        %thead
          %tr
            %th Offer
            %th Friend's Email
        %tbody
          -if current_user
            -current_user.friends.each do |friend|
              %tr
                %td=check_box_tag "order[invited_user_attributes][]", friend.email, @order.invitee?(friend), :id=>"invite_user_#{friend.id}" 
                %td=h friend.email
            %tr
              -fields_for current_user.friendships.build do |ff|
                %td
                %td
                  =ff.text_field :friend_email
                  =submit_tag "Add"
    %p
      =submit_tag "Continue"    
      
