-if @order.pending?
  -content_for :aside do
    != render :partial => 'group_order_details'

-content_for :content_header do
  .no-print
    = render :partial => 'shops/page_header', :locals=>{:shop=>@shop}

-content_for :content_foot do
  -if @order.pending?
    =link_to "Change", edit_order_path(@order), :method=>:get, :id=>'change-button'
  -if @order.pending?
    .pay-box    
      -semantic_form_for @order, :url=>place_order_path(@order) do |f|
        -f.buttons do
          -if @shop.accepts_paypal_payments?
            -if @shop.ever_charges_processing_fee?
              Note: A transaction fee of #{number_to_currency @shop.processing_fee} applies for orders under $#{h @shop.fee_threshold}.
            -#  %img{:src => "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", :align => "left", :style => "margin-right:7px;" }
            =image_submit_tag "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", :value=>'Pay with PayPal', :id=>'pay-paypal-button', :class=>'order-closed button', :disabled=>@order.waiting_for_close?
            -#=submit_tag "Pay with PayPal", :id=>'pay-paypal-button', :class=>'confirm-link order-closed', :disabled=>@order.waiting_for_close?
            %br
          -unless @shop.only_accepts_online_payment?
            =submit_tag "Pay In Shop", :id=>'pay-in-shop-button', :class=>"order-closed #{@shop.accepts_queued_orders? ? 'to-queue':'to-print'}", :disabled=>@order.waiting_for_close?
  -elsif @order.confirmed?
    %h3 Order confirmed
    
    -unless current_user.signed_up?
      .make-account-blurb
        %h5 Please enter a password to finish signing up
        - semantic_form_for current_user, :url=>activate_invited_user_path(current_user) do |f|
          != render :partial => 'shared/order_and_or_shop_form_fields'
          - f.inputs do
            = f.input :email, :label=>"Your email", :disable=>true
            = f.input :password, :as=>:password, :label=>"Choose a password"
            = f.input :password_confirmation, :as=>:password, :label=>"Same password again"
            = f.input :remember_me, :as=>:boolean, :label=>"Keep me signed in on this computer"
            = f.input :email_offers, :as=>:boolean, :label=>"Email me specials from restaurants near me"
          - f.buttons do
            =f.commit_button :button_html=>{:value=>'Sign up'}
        %p
          We created you a temporary account to track this order. Give it
          a password to make it permanent. This will save you time next time
          you use Cafebop to order.
      
.no-print
  -if @order.pending?
    #order-summary.span-14.last
      != render :partial => 'order_summary'
    -if @order.is_parent?
      = periodically_call_remote :url=>status_of_pending_order_path(@order), :frequency=>10, :method=>'GET'
  -else
    -content_for :content_foot do
      -if @order.queued? or @order.pending_paypal_auth?
        = periodically_call_remote :url=>status_of_queued_order_path(@order), :frequency=>10, :method=>'GET'

      #order-summary.span-24.last
        != render :partial => 'order_summary'

      -if @order.printed?
        / -content_for :snapabug do
        /   = ""
        .no-print
          =button_to_function "Click here to print", "window.print();", :id=>'print-btn', :class=>'button'
