%h1=@order.id

-if @order.pending?
  =link_to "&lt;&lt; Change", edit_order_path(@order)
  =link_to "Confirm &gt;&gt;", confirm_order_path(@order), :method=>:put
-else


%ul
  -@order.order_items.each do |item|
    %li="#{item.quantity} #{item.description} (#{item.notes}) [#{item.menu_item_id}, #{item.size_id}, #{item.flavour_id}]"


-#=link_to "Add another", root_path    