-if @order.pending?
  -content_for :aside do
    != render :partial => 'group_order_details'


            
-content_for :content_header do
  .no-print
    = render :partial => 'shops/page_header', :locals=>{:shop=>@shop}

-content_for :content_foot do
  .span-16
    -if @order.pending?
      =button_to "Change", edit_order_path(@order), :method=>:get, :id=>'change-button'
  .span-8.last    
    -if @order.pending?
      -if @order.is_child?
        =button_to "Confirm Order", confirm_order_path(@order), :method=>:put
      -else
        -if @shop.accepts_in_shop_payments?
          =button_to "Pay In Shop", pay_in_shop_order_path(@order), :method=>:put, :class=>'confirm-link order-closed', :disabled=>@order.waiting_for_close?
          %br

        -if @shop.accepts_paypal_payments? 
          -if @shop.ever_charges_processing_fee?
            Note: A transaction fee of #{number_to_currency @shop.processing_fee} applies for orders under $#{h @shop.fee_threshold}.
          =button_to "Pay with PayPal", pay_paypal_order_path(@order), :method=>:put, :class=>'confirm-link order-closed', :disabled=>@order.waiting_for_close?

.no-print
  -if @order.pending?
    #order-summary.span-14.last
      != render :partial => 'order_summary'
    -if @order.is_parent?
      = periodically_call_remote :url=>status_of_pending_order_path(@order), :frequency=>10, :method=>'GET'
  -else
    -content_for :content_foot do
      -if @order.queued?
        = periodically_call_remote :url=>status_of_queued_order_path(@order), :frequency=>10, :method=>'GET'

      #order-summary.span-24.last
        != render :partial => 'order_summary'

      -if @order.printed?
        .no-print
          =button_to_function "Click here to print", "window.print();", :id=>'print-btn'
      
