%h3 Credits

%p
  The Cafebop team are:
  %ul
    %li Ritchie Young 
    %li Amy Young
    %li David Bagini

%p
  We would like to thank the following people for helping us to get directly or indirectly to get this far:
  %ul
    %li The #{link_to "Ruby", "http://www.ruby-lang.org/"} and #{link_to "Rails", "http://rubyonrails.com"} communities
    %li Ryan Bates for his amazingly helpful #{link_to "screencasts", "http://railscasts.com"}
    %li #{link_to "Mark James", "http://www.famfamfam.com"} for the #{link_to "Silk Icon Set", "http://www.famfamfam.com/lab/icons/"} which we use under #{link_to "this licence", "http://creativecommons.org/licenses/by/2.5/"} 
    %li #{link_to "Joseph Wain", "http://penandthink.com"} for the #{link_to "Glyphish Icon Set", "http://glyphish.com"}which we use under #{link_to "this licence", "http://creativecommons.org/licenses/by/3.0/us/"}