!!! String

%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= h(yield(:title) || "Cafebop")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"http-equiv"=>"Content-Style-Type", :content=>"text/css"}
    %meta{"http-equiv"=>"Content-Script-Type", :content=>"text/javascript"}
    
    = stylesheet_link_tag "blueprint/screen", "jquery.countdown", :media=>'screen'
    = stylesheet_link_tag 'start/jquery-ui-1.7.2.custom.css', "formtastic", "formtastic_changes",'application',  :cache=>true
    = stylesheet_link_tag "blueprint/print", "print", :media=>'print', :cache=>true
    = javascript_include_tag 'http://cdn.jquerytools.org/1.1.2/jquery.tools.min.js', 'jquery-form', 'jquery.qtip-1.0.0-rc3.min', 'jquery-ui-1.7.2.custom.min.js', 'jrails', 'jquery.countdown.min', 'supersleight.plugin', 'application.js'
    / [if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]   
    =javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? 
    = yield(:head)

  %body{:style=>"background: #{page_background}"}
    -if flash[:notice] or flash[:warning] or flash[:error]
      #flash
        - if flash[:notice]
          #notice
            =flash[:notice]
        - if flash[:warning]
          #warning
            =flash[:warning]
        - if flash[:error]
          #error
            =flash[:error]

    #page-header
      !=render :partial=>'layouts/page_header'
    .container
      .span-24.last
        #content.span-24.last
          #print-header.print-only
            -if @shop
              %h1=h @shop.name
              -if current_user
                %h3=h "Order for #{current_user} at #{Time.now.to_s(:long)}"
          -default_content_for :content do
            -default_content_for :content_top do
              %span
            .main-header.span-24.last{:style=>"background: #{header_background}"}
              -default_content_for :content_header do
                = @shop ? render(:partial => 'shops/page_header', :locals=>{:shop=>@shop}) : placeholder(:width=>1, :height=>180)
            #content-body.span-15
              -default_content_for :content_body do
                #main.span-15.last  
                  .main-body.span-15.last
                    .span-14
                      =yield
                    .span-1.last
                      =placeholder
                  .span-15.last
                    =placeholder :height=>54
              
            #side.span-9.last.no-print
              #aside.span-8
                =yield :aside || placeholder
              .span-1.last
                =placeholder
        
            #content-foot.span-24.last
              -default_content_for :content_foot do
                %span

    #page-footer
      .logo
        =link_to(image_tag('logo.gif', :size=>'200x92'), root_path)
          

    =yield :javascript
