!!! String

%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= h(yield(:title) || "Cafebop - Takeaway Food Online")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"http-equiv"=>"Content-Style-Type", :content=>"text/css"}
    %meta{"http-equiv"=>"Content-Script-Type", :content=>"text/javascript"}
    -#%meta{ :content => "chrome=1", "http-equiv" => "X-UA-Compatible" }

    !=import_google_api
    :javascript
      google.load("jquery", "1.4.1");
      google.load("jqueryui", "1.7.2");
      var country_code = '#{ENV["COUNTRY_CODE"] || "us"}';
      var domain_name = '#{ENV["DOMAIN_NAME"] || "cafebop.com"}';
    
    = stylesheet_link_tag "blueprint/screen", "jquery.countdown", :media=>'screen'
    = stylesheet_link_tag 'start/jquery-ui-1.7.2.custom.css', "formtastic"
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag "blueprint/print", "print", :media=>'print'
    -#= javascript_include_tag 'http://cdn.jquerytools.org/1.1.2/jquery.tools.min.js'
    = javascript_include_tag 'jquery-form', 'jquery.validate.min','jquery.qtip-1.0.0-rc3.min', 'jrails', 'jquery.countdown.min', 'supersleight.plugin', :cache=>true
    = javascript_include_tag 'application.js'
    / [if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]   
    =javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? 
    =javascript_tag "var current_user = #{current_user ? "'#{current_user}'" : 'null'};"
    = yield(:head)

    %style{ :type => "text/css" }
      \#mediaInspector {
      display:none
      }
      @media aural {
      \#mediaInspector { z-index: 1 }
      }
      @media braille {
      \#mediaInspector { z-index: 2 }
      }
      @media embossed {
      \#mediaInspector { z-index: 3 }
      }
      @media handheld {
      \#mediaInspector { z-index: 4 }
      }
      @media print {
      \#mediaInspector { z-index: 5 }
      }
      @media projection {
      \#mediaInspector { z-index: 6 }
      }
      @media screen {
      \#mediaInspector { z-index: 7 }
      }
      @media tty {
      \#mediaInspector { z-index: 8 }
      }
      @media tv {
      \#mediaInspector { z-index: 9 }
      }

  %body{:style=>"background: #{page_background}"} 
    #mediaInspector
    -if flash[:notice] or flash[:warning] or flash[:error]
      #flash
        - if flash[:notice]
          #notice
            =flash[:notice]
        - if flash[:warning]
          #warning
            =flash[:warning]
        - if flash[:error]
          #error
            =flash[:error]

    #page-header
      !=render :partial=>'layouts/page_header'
    .container
      .span-24.last
        #content.span-24.last
          #print-header.print-only
            -if @shop
              %h1=h @shop.name
              -if current_user
                %h3=h "Order for #{current_user} at #{Time.now.to_s(:long)}"
          -default_content_for :content do
            -default_content_for :content_top do
              %span
            .main-header.span-24.last{:style=>"background: #{header_background}"}
              -default_content_for :content_header do
                = @shop ? render(:partial => 'shops/page_header', :locals=>{:shop=>@shop}) : placeholder(:width=>1, :height=>180)
            #notifications.span-24.last
              -if flash[:notices]    
                -flash[:notices].each do |notice|
                  .notice
                    =notice
                    =image_tag 'remove.gif', :class=>'close-btn'
            #content-body.span-16
              -default_content_for :content_body do
                #main.span-16.last  
                  .main-body.span-16.last
                    .span-15
                      =yield
                    .span-1.last
                      =placeholder
                  .span-16.last
                    =placeholder :height=>54
              
            #side.span-8.last.no-print
              #aside.span-8.last
                =yield :aside || placeholder
        
            #content-foot.span-24.last
              -default_content_for :content_foot do
                %span

    #page-footer 
      .powered-by.no-print  
        #{@shop ? "Powered by " : ""}
        #{link_to("Cafebop", root_url(:subdomain=>false))} (#{separated([link_to_site_terms, link_to_privacy_policy, link_to_faq, link_to_credits])}
        |
        %a#crowdsound-activate-popup Feedback
        )
      .logo.print-only
        =image_tag('logo-small.png')

      .links.no-print
        %div
          / AddThis Button BEGIN
          .addthis_toolbox.addthis_default_style
            %a.addthis_button_compact{ :href => "http://addthis.com/bookmark.php?v=250&amp;username=ritchiey" }
              Share
            %span.addthis_separator
              |
            %a.addthis_button_facebook
            %a.addthis_button_email
            %a.addthis_button_favorites
            %a.addthis_button_print
            |
            =separated([link_to_refund_policy(@shop)])
          %script{ :src => "http://s7.addthis.com/js/250/addthis_widget.js#username=ritchiey", :type => "text/javascript" }
          / AddThis Button END
          
                                    
    #authForm.hidden
      .login.hidden
        != render :partial => 'user_sessions/login_form'
      .signup
        != render :partial => 'users/signup_form'

    -default_content_for :snapabug do
      =yield :javascript   
      
      %script{ :type => "text/javascript" }
        var mediaInspector = document.getElementById('mediaInspector');
        if (mediaInspector.currentStyle) {
        media = mediaInspector.currentStyle['zIndex'];
        } else if (window.getComputedStyle) {
        media = window.getComputedStyle(mediaInspector, '').getPropertyValue("z-index");
        }
      
      %script{ :type => "text/javascript" }
        document.write(unescape("%3Cscript src='" + ((document.location.protocol=="https:")?"https:":"http:") + "//snapabug.appspot.com/snapabug.js' type='text/javascript'%3E%3C/script%3E"));
      %script{ :type => "text/javascript" }
        if (media != 5) {
        SnapABug.addButton('e3e421df-23ce-43c9-ad37-fd9c5768c922',"0","55%");
        }

      %script{ :src => "http://crowdsound.com/widgets/popup?popup=true&aid=2953", :type => "text/javascript" }

    / Google Analytics  
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-15137453-1");
      pageTracker._trackPageview();
      } catch(err) {}
    / End Google Analytics  



