!!! Strict
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta#viewport{ :name => "viewport", :content => "width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
    %title
      = @page_title
    %script{ :src => "http://www.google.com/jsapi", :type => "text/javascript" }
    %script{ :type => "text/javascript" }
      google.load("jquery", "1.3.2");
    = javascript_include_tag '/jqtouch/jqtouch.min.js', 'mobile.js'
    = stylesheet_link_tag '/jqtouch/jqtouch.min.css', '/themes/jqt/theme.min.css', 'mobile'    
    %body
      != render :partial => 'layouts/about'
      != render :partial => 'user_sessions/login_form'
    #home.current
      .toolbar
        %h1#pageTitle Cafebop
        %a.button.slideup{ :href => "#about" } About
      = yield
      
